body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-link {
    font-weight: bold;
    color:#F9FAF8;
    font-size: 24px;
}

.right-link {
    color:#E5E7EB;
    font-weight: 18px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:320px;
    margin-top: 100px;
}

.main-text{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    align-items: flex-start;
    max-width: 450px;
}

ul {
    margin: 0;
    display: flex;
    gap: 20px;
    list-style: none;
}

.image {
    width: 500px;
    border-radius: 10px;
}

.button {
    font-weight: bolder;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

.random-info {
    background-color: white;
    margin-top: 180px;
    padding: 50px;
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 50px;
}

.text {
    max-width: 180px;
    text-align: center;
    color: gray;
    margin-bottom: 50px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
    padding-bottom: 70px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    font-family: 'Open Sans', sans-serif;
    max-width: 800px;
    margin-bottom: 0;
}

.author {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color:#1f2937;
    align-self: flex-end;
    margin-right: 450px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 100px;
}

.sign-container {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    padding: 40px;
    padding-left: 0;
    padding-right: 0;
    color: white;
    border-radius: 8px;
}

.sign-button {
    font-weight: bolder;
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    width: 150px;
    padding: 8px 16px;
    border-radius: 8px;
}



